{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
    .responsive {
        max-width: 100%;
		max-height: 90vh;
        margin: auto;
        display: block;
	}
</style>
{% endblock %}

{% block title %}Directory{% endblock %}

{% block content %}
<h1>{{ file.path }}{{ file.name }}</h1>

{% url 'file_mgr:directory' parent_path as parent_url %}
<a href="{{ parent_url }}">
    Parent Directory
</a>

<div>
    {% with file.path|add:file.name as file_path %}
        <image alt="No Image" 
            class="responsive"
            onError="this.onerror=null; this.remove()"
            src="{% static 'nicer_data/'|add:file_path %}"
        />
    {% endwith %}
</div>
{% endblock %}