:root {
    --border-color: #ddd;
    --bg-color: #f9f9f9;
    --major-font-size: 16px;
    --minor-font-size: 12px;
}

button {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    flex-grow: 1;
    font-size: var(--major-font-size);
}

button:hover {
    background-color: var(--border-color);
}

input {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    font-size: var(--major-font-size);
    padding: 6px;
}

input[type="text"] {
    margin-bottom: 3px;
    transition-delay: 200ms;
    width: 100%;
}

input[type="range"] {
    padding: 0px;
    width: 100%;
}

input:focus {
    border-bottom: 3px solid var(--border-color);
    margin-bottom: 0px;
    outline: none;
    transition-delay: 0s;
}

label {
    font-size: var(--major-font-size);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: var(--border-color);
}

.column {
    flex-grow: 1;
    position: relative;
}

.column:has(button[type="submit"]) {
    display: flex;
}

.dropdown * {
    width: 100%;
}

.dropdown {
    width: 100%;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
}

.dropdown-content * {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    display: none;
    font-size: var(--minor-font-size);
    padding: 6px;
}

.row {
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.hide {
    display: none;
}

.show * {
    display: block;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}