{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    position: absolute;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    z-index: 1;
}

#search_field {
    box-sizing: border-box;
    background-position: 6px;
    background-repeat: no-repeat;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#search_field:focus {
    outline: none;
    border-bottom: 3px solid #ddd;
}

.search_option {
  color: black;
  width: 100%;
  padding: 6px;
  font-size: 12px;
  text-decoration: none;
  display: block;
  border: 1px solid #ddd;
}

.search_option:hover {
    background-color: #ddd
}

.hidden {
    display: none;
}
</style>

<script src="{% static 'node_modules/plotly.js-dist-min/plotly.min.js' %}"></script>
<script>
    function addItem(search_option) {
        const SEARCH_OPTION = document.createElement('button');
        const ITEM_TEXT = document.createTextNode(search_option.name);

        SEARCH_OPTION.appendChild(ITEM_TEXT);
        SEARCH_OPTION.classList.add('search_option');

        SEARCH_OPTION.addEventListener('click', () => {
            const FIELD_ELEMENT = document.querySelector('#search_field')
            let field_value = FIELD_ELEMENT.value.split('/').slice(0, -1).join('/') + '/'
            FIELD_ELEMENT.value = field_value + search_option.name;
        });

        document.querySelector('#search_options').append(SEARCH_OPTION);
    };

    function fetchOptions(path) {
        path = path.value
        fetch(`/plots/fetch_observations?path=${path}`)
        .then(response => response.json())
        .then(data => {
            document.querySelector('#search_options').innerHTML = '';
            data.dir_suggestions.forEach(addItem);
        })
    };

    document.addEventListener('DOMContentLoaded', () => {
        const DIR_SEARCH = document.querySelector('#search_field');

        DIR_SEARCH.addEventListener('blur', () => {
            let options = document.getElementsByClassName('search_option');

            setTimeout(() => {
                for (let i = 0; i < options.length; i++) {
                    options[i].classList.add('hidden');
                }
            }, 200);
        })

        DIR_SEARCH.addEventListener('focus', () => {
            let options = document.getElementsByClassName('search_option');

            for (let i = 0; i < options.length; i++) {
                options[i].classList.remove('hidden');
            }
        })
    })
</script>
{% endblock %}

{% block title %}Plot{% endblock %}


{% block content %}
<h1>Spectrum Plot</h1>
{% comment %}
<img src="data:image/png;base64,{{ graphic|safe }}">
{% endcomment %}
<div class="dropdown_content">
    <form id="spectrum_search" action="{% url 'plots:plots'  %}" method="post">
        {% csrf_token %}
        <input id="search_field" name="file_path" type="text" placeholder="Observation ID..." onkeyup="fetchOptions(this)" onblur="">
        <button type="submit">Submit</button>
    </form>
    <div id="search_options"></div>
</div>
{% autoescape off %}
{{ plot_div }}
{% endautoescape %}
{% endblock %}