{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/css/plot.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

<script>
    const PLOT_GRAPH_URL = "{% url 'plots:plot_data' %}";
    const PLOT_GTI_URL = "{% url 'plots:plot_gti' %}";
</script>

<script src="{% static '/js/plot.js' %}"></script>

{% endblock %}

{% block title %}Plot{% endblock %}

{% block content %}
<h1>Spectrum Plot</h1>

<form id="plot-graph" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="column">
            <div class="dropdown">
                <input id="observation-search" class="dropdown-field" name="obs_id" type="text" value="{{ obsID }}" placeholder="Observation ID...">
                <div id="observation-options" class="dropdown-content"></div>
            </div>
        </div>

        <div class="column">
            <div class="dropdown">
                <input id="quality-select" class="dropdown-field" name="quality" type="text" value="{{ quality }}" placeholder="Quality..." readonly="true">
                <div class="dropdown-content">
                    <button class="change-quality" type="button" name="goddard">Goddard</button>
                    <button class="change-quality" type="button" name="gold">Gold</button>
                    <button class="change-quality" type="button" name="silver">Silver</button>
                    <button class="change-quality" type="button" name="radium">Radium</button>
                    <button class="change-quality" type="button" name="pyrite">Pyrite</button>
                </div>
            </div>
        </div>

        <div id="options" class="column">
            <input id="spectrum-check" type="checkbox" name="spectrum" value=".jsgrp" {% if spectrum %}checked{% endif %}>
            <label for="spectrum-check">Spectrum</label>
            <input id="light-curve-check" type="checkbox" name="light-curve" value=".lc.gz" {% if lightCurve %}checked{% endif %}>
            <label for="light-curve-check">Light Curve</label>
        </div>

        <div class="column">
            <button type="submit">Submit</button>
        </div>
    </div>
</form>

<div id="plots"></div>
{% endblock %}
